@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

section {
  background: #000000;
  color: white;
}

.markdown {
  display: flex;
  flex-direction: row;
}

.input {
  width: 50%;
  height: 100vh;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.result {
  width: 50%;
  margin: 5px;
  padding: 5px;
  height: 100vh;
}
